{% extends 'front/base.html.twig' %}

{% block title %}
    La centrale
{% endblock %}

{% block leogout_seo %}
    <meta name="description"

{% endblock %}

{% block body %}


<h1 class="text-center">La centrale</h1>


<div class="row">
    {% for trendlisting in lastListing %}
        {% include 'front/partial/_listing_card.html.twig' with
            {
                'trendlisting': trendlisting,
            }
        %}
    {% endfor %}
</div>
{% endblock %}